################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MaHakesherServerSide
/MaHakesherServerSide/.vs
/MaHakesherServerSide/MaHakesherServerSide/.vs
/MaHakesherServerSide/MaHakesherServerSide/bin/Debug/net6.0/runtimes
/MaHakesherServerSide/MaHakesherServerSide/bin/Debug/net6.0/Microsoft.Data.Sqlite.dll
/MaHakesherServerSide/MaHakesherServerSide/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Sqlite.dll
/MaHakesherServerSide/MaHakesherServerSide/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/MaHakesherServerSide/MaHakesherServerSide/bin/Debug/net6.0/SQLitePCLRaw.batteries_v2.dll
/MaHakesherServerSide/MaHakesherServerSide/bin/Debug/net6.0/SQLitePCLRaw.core.dll
/MaHakesherServerSide/MaHakesherServerSide/bin/Debug/net6.0/SQLitePCLRaw.provider.e_sqlite3.dll
/MaHakesherServerSide/MaHakesherServerSide/obj/Debug/net6.0/ref/MaHakesherServerSide.dll
/MaHakesherServerSide/MaHakesherServerSide/obj/Debug/net6.0/refint/MaHakesherServerSide.dll
/MaHakesherServerSide/MaHakesherServerSide/MaHakesherServerSide.csproj.user
/MaHakesherServerSide/MaHakesherServerSide/MaHakesherServerSide.csproj
/MaHakesherServerSide/MaHakesherServerSide/Migrations/20240201174953_init.cs
/MaHakesherServerSide/MaHakesherServerSide/Migrations/20240201174953_init.Designer.cs
/MaHakesherServerSide/MaHakesherServerSide/Migrations/20240305161350_init.cs
/MaHakesherServerSide/MaHakesherServerSide/Migrations/20240305161350_init.Designer.cs
/MaHakesherServerSide/MaHakesherServerSide/Migrations/MaHakesherServerSideContextModelSnapshot.cs
/MaHakesherServerSide/MaHakesherServerSide/obj/Debug/net6.0/ApiEndpoints.json
/MaHakesherServerSide/MaHakesherServerSide/obj/Debug/net6.0/apphost.exe
/MaHakesherServerSide/MaHakesherServerSide/obj/Debug/net6.0/MaHakesh.F0A7BFAC.Up2Date
/MaHakesherServerSide/MaHakesherServerSide/obj/Debug/net6.0/MaHakesherServerSide.AssemblyInfo.cs
/MaHakesherServerSide/MaHakesherServerSide/obj/Debug/net6.0/MaHakesherServerSide.AssemblyInfoInputs.cache
/MaHakesherServerSide/MaHakesherServerSide/obj/Debug/net6.0/MaHakesherServerSide.assets.cache
/MaHakesherServerSide/MaHakesherServerSide/obj/Debug/net6.0/MaHakesherServerSide.csproj.AssemblyReference.cache
/MaHakesherServerSide/MaHakesherServerSide/obj/Debug/net6.0/MaHakesherServerSide.GeneratedMSBuildEditorConfig.editorconfig
/MaHakesherServerSide/MaHakesherServerSide/obj/Debug/net6.0/MaHakesherServerSide.sourcelink.json
/MaHakesherServerSide/MaHakesherServerSide/obj/Release/net6.0/MaHakesherServerSide.assets.cache
